body {
.MathJax_Display {
  display: block !important;
  text-align: left !important;   /* align left */
  margin: 1em 0 !important;      /* spacing above/below */
  overflow-x: auto !important;   /* allow horizontal scrolling */
  white-space: nowrap !important;/* keep equation in one line */
  max-width: 100% !important;    /* don't go past screen width */
  }
}
